.cargador {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cargador span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  animation: animar 4s ease-in-out infinite;
  animation-delay: calc(0.2s * var(--i));
}

.cubiertas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cubiertas span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  pointer-events: none;
  animation: animar 4s ease-in-out infinite;
  animation-delay: calc(0.2s * var(--i));
}

@keyframes animar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}