/* Asegura que estos estilos prevalezcan */
.custom-dark-table thead.custom-header th {
  background-color: black !important;  /* Forzar el color de fondo negro */
  color: white !important;              /* Forzar el color del texto blanco */
  font-weight: bold !important;         /* Forzar negrita */
  padding: 10px !important;             /* Asegurar el relleno */
  text-align: center !important;        /* Forzar alineación al centro */
}
/* Estilos personalizados para una tabla de tema oscuro */
.custom-dark-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #333333; /* Color de fondo oscuro */
  color: #ffffff; /* Texto claro */
}

.custom-dark-table th, 
.custom-dark-table td {
  border: 1px solid #444444; /* Bordes más oscuros */
  padding: 12px; /* Espaciado en las celdas */
  text-align: left;
}

.custom-dark-table th {
  background-color: #000000; /* Fondo negro para los encabezados */
  color: #ffffff; /* Texto en blanco */
  font-weight: bold; /* Texto en negrita */
}

.custom-dark-table tbody tr:nth-child(even) {
  background-color: #333333; /* Color de filas pares (sin zebra) */
}

.custom-dark-table tbody tr:hover {
  background-color: #555555; /* Efecto hover para filas */
}

.custom-header th {
  background-color: black; /* Fondo negro */
  color: white; /* Texto blanco */
  font-weight: bold; /* Texto en negrita */
  padding: 10px; /* Añade espacio extra para separación */
  text-align: center; /* Alineación central */
}
.custom-dark-table caption {
  color: #ffffff;
  font-size: 1.5em;
  padding: 10px;
  text-align: center;
}

/* Estilo para la fila de búsqueda */
.search-row {
  margin-bottom: 20px; /* Espaciado entre la fila buscador y la tabla */
}

/* Estilo para el input del buscador */
.search-input {
  padding: 8px;
  font-size: 1em;
  width: 100%;
  max-width: 300px; /* Limitar el ancho del input */
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: auto; /* Centrar el input en la pantalla */
}
