

.map-container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.right-panel {
  position: absolute;
  top: 0;
  right: -40%;
  width: 40%;
  height: 100%;
  background-color: rgba(31, 41, 55, 0.9);
  transition: right 0.3s ease-in-out;
  overflow-y: auto;
  z-index: 1000;
}

.right-panel.show {
  right: 0;
}

.custom-icon img {
  width: auto; /* o un tamaño fijo */
  height: 32px; /* ajustar según sea necesario */
  max-width: 100%; /* no sobrepase el contenedor */
}

.bottom-panel {
  position: absolute;
  bottom: -20%;
  left: 0;
  width: 60%;
  height: 20%;
  background-color: rgba(31, 41, 55, 0.9);
  transition: bottom 0.3s ease-in-out;
  overflow-y: auto;
  z-index: 1000;
}

.bottom-panel.show {
  bottom: 0;
}

.panel-content {
  padding: 1rem;
  color: white;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

.visualization-select {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: #4a5568;
  color: white;
  border: 1px solid #718096;
  border-radius: 0.25rem;
}

.custom-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px !important;
  height: 32px !important;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

.custom-icon i {
  font-size: 18px;
}