.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100vw;
  }
  
  .login-box {
    background-color: #3a3939;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .login-logo {
    max-width: 200px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .form-input {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  .login-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }